.persons-select-container {
    width: auto;
    min-width: 300px;
    display: inline-block;
    a {
        color: black;
    }
    .person-container {
        height: 100%;
        display: flex;
        align-items: center;
        img {
            height: 100%;
        }
        .person-container__details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }
}

.menu-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    &__button {
        display: inline-block;
        margin: 15px 0px 0px 5px;
        white-space: nowrap;
        & button:hover {
            cursor: pointer;
            background-color: rgb(242, 240, 240);
        }
    }
    &__checkboxes {
        width: 100%;
        padding-top: 5px;
        margin: 10px 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: right;
        margin: 10px 2px 3px 3px;
        &__nezar {
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: right;
        }
    }
}

.yellowstar {
    &--personinput {
        height: 19px;
        padding: 3px;
        opacity: 0.5;
        &:hover {
            opacity: 0.8;
        }
    }
    &--personcontainer {
        width: 13px;
        margin-left: auto;
    }
}